a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: red;
}

h1, h3 {
	font-family: courier;
	text-align: center;
}

img {
	border: 2px dotted black;
	border-radius: 80px;
	border-right: solid;
	border-left: solid;
	margin: auto;
	display: block;
}